---
layout: post
title: Setup a dev environment for Openstack Swift
---

Contributing Openstack Swift requires a local development environment setup. In this post a step by step setup procedure
of what I found to be a convenient dev env for Openstack Swift is described.
 

![_config.yml]({{ site.baseurl }}/images/config.png)

