---
layout: post
title: Run tests in a dev environment for Openstack Swift
---

This post reveals how to run CI tests on a local developmenyt environment.

